#banner{
    background: linear-gradient(rgba(0,0,0,0.5), #009688), url('../../Assets/Images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 680px;
    position: relative;
    overflow: hidden;
}
.logo{
    position: absolute;
    top: 4%;
    left: 10%;
    width: 140px;
}
.banner-text{
    text-align: center;
    color: #ffffff;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 130px;
    font-family: 'Kaushan-regular';
}
.banner-text p{
    font-size: 20px;
    font-style: italic;
    font-family: serif;
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #ffffff;
    border: .5px solid #ffffff;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 5px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover {
    color: black;
}
.banner-btn a:hover span{
    width: 100%;
}
/* Slide Nav Start */

#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition:  0.5s;
}
#sideNav.navSee{
    /* width: 250px;
    height: 100vh;
    position: fixed; */
    right: 0px;
    /* top: 0; */
    /* background: #009688; */
    /* z-index: 2; */
    transition:  0.5s;
}
nav ul li {
    list-style-type: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    position: relative;
    z-index: 1;
    transition: color .5s;
}

nav ul li a span{
    margin-left: -8px;
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #ffffff;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.5s;
}
nav ul li:hover a{
    color: black;
}
nav ul li:hover span{
    width: 100%;
    margin-left: 0px;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}
/* media Queries */
@media screen and (min-width: 1200px){
    .banner-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .banner-text h1{
        font-size: 125px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .banner-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .banner-text h1{
        font-size: 100px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .banner-text{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .banner-text h1{
        font-size: 70px;
    }
    .banner-text p{
        font-size: 17px;
    }
}
@media screen and (min-width: 425px) and (max-width: 767px){
    .banner-text h1{
        font-size: 50px;
    }
    .banner-text p{
        font-size: 14px;
    }
    .banner-btn a{
        display: block;
        margin: 30px auto;
    }
}
@media screen and (min-width: 375px) and (max-width: 424px){
    .banner-text h1{
        font-size: 50px;
    }
    .banner-text p{
        font-size: 13px;
    }
    .banner-btn a{
        display: block;
        margin: 30px auto;
    }
}
@media screen and (min-width: 320px) and (max-width: 374px){
    .banner-text h1{
        font-size: 40px;
    }
    .banner-text p{
        font-size: 12px;
    }
    .banner-btn a{
        display: block;
        margin: 30px auto;
    }
}
/* @media screen and (max-width: 770px){
    .banner-text h1{
        font-size: 44px;
    }
    .banner-btn a{
        margin: 20px 10px;
    }
} */
